/*#region common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color-red: #FF0000;
    --color-green: #008000;
    --color-yellow: #FFFF00;
}

ul.menu >li {
    display: inline-block;
    font-size: 2rem ;
    list-style-type: none;
    width: 3rem;
    height: 3rem;
   /*  border: 1px solid black; */
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin:  2rem;
    box-shadow: 8px 4px 10px 1px #0000008a;
}

ul.menu >li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

html{
    scroll-behavior: smooth;
}

/*#endregion common*/





/*#region utilities*/
.vh-100{
    height: 100vh;
}

.bg_red{
    background-color: var(--color-red);
}


.bg_green{
    background-color: var(--color-green);
}

.bg_yellow {
    background-color: var(--color-yellow);
}

.color_yellow{
    color: var(--color-yellow);
}

.color_green {
    color: var(--color-green);
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}
/*#endregion utilities*/


.image_text{
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.font_size {
    font-size: 2rem;
    text-transform: uppercase;
}



/*#region navbar*/

nav.navbar {
    width: 400px;
    top: 0;
    right: 0;
}

ul.menu{
    position: fixed;
    z-index: 1;
}


/*#endregion navbar*/



.image_1 {
    background-image: url(../img/01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    
}

.image_2 {
    background-image: url(../img/02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
     background-attachment: fixed;
    
}


.image_3 {
    background-image: url(../img/03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
     background-attachment: fixed;
    
}


